<!Doctype html>
<html lang='en'>
<head>
<title>Login(Doctor)</title>
<style>
#titleBar
{
background-color:brown;
color:white;
}
.doctorInfoFont
{
font-size:17pt;
}
.frontPageButtons
{
background-color: #00C5BE;
border: none;
color: #fff;
font-size: 1em;
padding: 10px 50px;
text-transform: uppercase;
font-weight: normal;
cursor:pointer;
}
</style>
</head>
<body>
<div id='titleBar'><h1>DOCTOR'S INFORMATION PORTAL</h1></div>
<img src='images/doctorIcon.png' align='right'>
<div class='doctorInfoFont'>
<h2>Personal Information:</h2>
Name:<br>
Specialization:<br>
Username:<br>
Address:<br>
<hr>
</div>
<div class='doctorInfoFont'>
<h2>Ethereum Wallet Details:</h2>
UniqueId:<br>
Balance(Etherum):<br>
Balance(Dollars):<br>
<hr>
</div>
<button class='frontPageButtons'>Open Etherum Wallet</button>
</body>
</html>